<h3>Categories</h3>
<hr />

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Meta tag description</th>
    <th>Meta tag keywords</th>
    <th>Description</th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.meta_tag_description %></td>
    <td><%= category.meta_tag_keywords %></td>
    <td><%= category.description %></td>
    <td>
      <%= link_to 'Show', category , :class => 'btn btn-primary btn-xs'%>
      <%= link_to 'Edit', edit_category_path(category), :class => 'btn btn-warning btn-xs' %>
      <%= link_to 'Destroy', category,:class => 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_category_path , :class => 'btn btn-info'%>
