<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Meta tag description:</b>
  <%= @category.meta_tag_description %>
</p>

<p>
  <b>Meta tag keywords:</b>
  <%= @category.meta_tag_keywords %>
</p>

<p>
  <b>Description:</b>
  <%= @category.description %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
