<h1>Products</h1>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Product code</th>
    <th>Product tags</th>
    <th>Price</th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.product_code %></td>
    <td><%= product.product_tags %></td>
    <td><%= product.price %></td>
    <td>
      <%= link_to 'Show', product, :class => 'btn btn-primary btn-xs' %>
      <%= link_to 'Edit', edit_product_path(product), :class => 'btn btn-warning btn-xs' %>
      <%= link_to 'Destroy', product, :class => 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path, :class => 'btn btn-info' %>
