<p id="notice"><%= notice %></p>
<table class="table table-bordered">
  <tr>
    <td width="20%"><strong>Name:</strong></td>
    <td> <%= @product.name %></td>
  </tr>

  <tr>
    <td><strong>Product code:</strong></td>
    <td> <%= @product.product_code %></td>
  </tr>

  <tr>
    <td><strong>Meta tag description:</strong></td>
    <td> <%= @product.meta_tag_description %></td>
  </tr>

  <tr>
    <td><strong>Meta tag keywords:</strong></td>
    <td> <%= @product.meta_tag_keywords %></td>
  </tr>

  <tr>
    <td><strong>Description:</strong></td>
    <td><%= @product.description %></td>
  </tr>

  <tr>
    <td><strong>Product tags:</strong></td>
    <td><%= @product.product_tags %></td>
  </tr>

  <tr>
    <td><strong>Sku:</strong></td>
    <td><%= @product.sku %></td>
  </tr>

  <tr>
    <td><strong>Upc:</strong></td>
    <td><%= @product.upc %></td>
  </tr>

  <tr>
    <td><strong>Ean:</strong></td>
    <td><%= @product.ean %></td>
  </tr>

  <tr>
    <td><strong>Jan:</strong></td>
    <td><%= @product.jan %></td>
  </tr>

  <tr>
    <td><strong>Isbn:</strong></td>
    <td><%= @product.isbn %></td>
  </tr>

  <tr>
    <td><strong>Mpn:</strong></td>
    <td><%= @product.mpn %></td>
  </tr>

  <tr>
    <td><strong>Price:</strong></td>
    <td><%= @product.price %></td>
  </tr>

</table>

<%= link_to 'Edit', edit_product_path(@product) , :class => 'btn btn-info'%> |
<%= link_to 'Back', products_path , :class => 'btn btn-info'%>
