<div class="form-horizontal">
  <%= form_for (@manufacturer), :html=> {:multipart => true}, :validate => true  do |f| %>
      <% if @manufacturer.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@manufacturer.errors.count, "error") %> prohibited this manufacturer from being saved:</h2>

            <ul>
              <% @manufacturer.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name , :class=> 'col-sm-2 control-label'%>
        <div class="col-sm-6">
          <%= f.text_field :name , :class=>"form-control"%>
        </div>
      </div>
      <% if @manufacturer.image.present? %>
      <div class="form-group">
        <%= f.label :image , :class=> 'col-sm-2 control-label'%>
        <div class="col-sm-2">
          <%= image_tag @manufacturer.image_url(:list_view).to_s %>
        </div>
      </div>
      <% else %>
      <div class="form-group">
        <%= f.label :image , :class=> 'col-sm-2 control-label'%>
        <div class="col-sm-6">
          <%= f.file_field :image %>
        </div>
      </div>
      <% end %>

      <div class="form-group">
        <%= f.label :sort_order , :class=> 'col-sm-2 control-label'%>
        <div class="col-sm-6">
          <%= f.text_field :sort_order , :class=>"form-control"%>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit :class=> "btn btn-success" %>
        </div>
      </div>
  <% end %>

</div>
