<p id="notice"><%= notice %></p>
<table class="table table-bordered">

  <tr>
    <td width="20%"><strong>Name:</strong></td>
    <td> <%= @manufacturer.name %></td>
  </tr>

  <tr>
    <td><strong>Image:</strong></td>
    <td> <%= @manufacturer.image %></td>
  </tr>

  <tr>
    <td><strong>Sort order:</strong></td>
    <td> <%= @manufacturer.sort_order %></td>
  </tr>


</table>

<%= link_to 'Edit', edit_manufacturer_path(@manufacturer) , :class => 'btn btn-info'%> |
<%= link_to 'Back', manufacturers_path , :class => 'btn btn-info'%>
