<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "E Shop" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "E Shop" %>">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if admin_signed_in? -%>
<header>
  <%= render 'layouts/navigation_admin' %>
</header>
<% end %>
<div class="container">
  <main role="main">
    <%= render 'layouts/messages' %>
    <%= yield %>
  </main>
</div>

</body>
</html>